{
    "presets": [
        "es2015",
        "stage-2"
    ],

    "ignore": [
        "/vendor/jquery.min.js",
        "/vendor/jquery.min.map",
        "/vendor/postmonger.js",
        "/vendor/postmonger.min.js"
      ]
}