<!-- views/partials/footer.ejs -->

<footer>
    <p class="slds-text-align_right slds-m-around_medium slds-border_top">&copy; 2017-2018</p>
</footer>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript">
    </script>